extends layout.pug 

block content 
    if goal 
        form(action=`/updateGoal/${ goal.id }` method="POST")
            h1.text-center Update Goal
            div.form-group.mb-3
                label(for="title") Title
                    i.fa-solid.fa-star-of-life.text-danger.star
                input.form-control#title(type="text" name="title" placeholder="Goal Title" value= goal.title)
            div.form-group.mb-3
                label(for="category") Category 
                    i.fa-solid.fa-star-of-life.text-danger.star
                select.form-control#category(name="category")
                    if cats
                        option(selected)= cats[goal.category] 
                    option(value="0") Business  
                    option(value="1") Sports 
                    option(value="2") Self-Development  
                    option(value="3") Family  
            div.form-group.mb-3
                label(for="description") Description 
                    i.fa-solid.fa-star-of-life.text-danger.star
                textarea#description.form-control(name="description", cols="30", rows="8",placeholder="Goal Description")= goal.description
            button.btn.btn-success.btn-success-xl(type='submit') Update 
    else
        form(action='/createGoal' method="POST")
            h1.text-center Create Goal
            div.form-group.mb-3
                label(for="title") Title
                    i.fa-solid.fa-star-of-life.text-danger.star
                input.form-control#title(type="text" name="title" placeholder="Goal Title")
                if titleError 
                    small.text-danger #{ titleError }
            div.form-group.mb-3
                label(for="category") Category 
                    i.fa-solid.fa-star-of-life.text-danger.star
                select.form-control#category(name="category")
                    option(disabled selected) Choose one 
                    option(value="0") Business  
                    option(value="1") Sports 
                    option(value="2") Self-Development  
                    option(value="3") Family  
                if categoryError 
                    small.text-danger #{ categoryError }
            div.form-group.mb-3
                label(for="description") Description 
                    i.fa-solid.fa-star-of-life.text-danger.star
                textarea#description.form-control(name="description", cols="30", rows="8",placeholder="Goal Description")
                if descriptionError 
                    small.text-danger #{ descriptionError }
            button.btn.btn-primary.btn-primary-xl(type='submit') Create